@model TeacherViewModel



<div class="banner-area-wrapper">
            <div class="banner-area text-center">	
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="banner-content-wrapper">
                                <div class="banner-content">
                                    <h2>our teachers</h2> 
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

     
        <div class="teacher-area pt-150 pb-105">
            <div class="container">
                <div class="row">

         @await Html.PartialAsync("_TeacherPartialView",Model.Teachers.Take(12).ToList())
                </div>
<nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                @if (i == ViewBag.CurrentPage)
                {
                    <li class="page-item disabled"><a  class=" page-link" asp-controller="teacher" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a  class=" page-link" asp-controller="course" asp-action="index" asp-route-page="@i">@i</a></li>
                }
            }
        </ul>
    </nav>
            </div>
        </div>