
@model HomeViewModel

 
                 @foreach (var item in Model.Settings)
                 {
                      <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-content">
                            <h2>WELCOME TO <span>@item.Title</span></h2>
                            <p>@item.Desc1</p>
                            <p class="hidden-sm">@item.Desc2</p>
                            <a class="default-btn" href="@item.ButtonLink">view courses</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-img">
                            <img src="~/assets/img/@item.AboutImage" alt="about">
                        </div>
                    </div>
                </div>  
                 }





